* {
    box-sizing: border-box;
  }
  
body {
    direction: rtl;
    text-align: right;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.my-border {
    border: 1px solid red;
} 
.box-size{
    width: 900px;
    margin: 0 auto;
}
#home-grey {
    right: 0px;
    background: url('images/menu_home.png') 17px 0;
    background-repeat: no-repeat;
}
.size{
    width: 50%;
}
.size img{
    margin: 0 auto;
}
.small-module{
    position: relative;
    padding: 10px;
    margin: auto;
}
.first-columb{
    margin-right: 420px;
    margin-top: 50px;
    height: 50px;
    position: relative;
}
.text-horizontal ul {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 40px;
      }
      .text-horizontal ul li {
        display: inline;
}

.text-horizontal ul li a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: inline-block;
    padding: 10px;
}

.text-horizontal ul li:first-child{
    display: block;
    width: 122px;
    min-height: 36px;
    background: url("images/side_menu_sprite.png") -122px -5px;
    background-repeat: no-repeat;
}

.small-text{
font-size: 12px;
}
.flot-position{
    float: left;
}

.row_clear:after {
    content: "";
    display: table;
    clear: both;
  }

  .text-place-contact{
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: 13px;
  }
  .text-place-contact h4{
    margin-bottom: 0;
    margin-top: 0;
}

  .text-place-contact p{
      margin-top: 0;
  }
  .text-place-contact a{
    text-decoration: none;
  }
  .text-place-contact a:hover{
    text-decoration: underline;
    color:violet;
  }
  .text-place-con{
    position: absolute;
    top: 20px;
    right: 80px;
    font-size: 13px;
  }
  .text-place-con p{
    margin-top: 0;
}

  .text-place-con h4{
    margin-bottom: 0;
    margin-top: 0;
}
.form-position{
    position: absolute;
    top: 120px;
    left: 0;
    width: 400px;
   /* border: 1px solid ##808992;*/
}
.form-position ul{
    list-style: none;
    font-size: 12px;   
}
label {
    display: inline-block;
    width: 75px;
    text-align: right;
  }
  .form-position ul li{
   padding: 2px;
}
textarea {
    font: 12px Arial;
    overflow: hidden;
}
.button_send{
    background-color: rgb(5,149,215);
    margin-right: 250px;
}

.footer-des-contact{
   /* position:fixed;*/
    height: 38px;
    background-color: grey;
    clear: both;
}