* {
    box-sizing: border-box;
  }
  
body {
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
}

  .my-border {
    border: 1px solid black;
  } 

.main-box{
  width: 900px;
  margin: auto;
}
/* Header Menu definitions*/
.main_header {
  width: 100%;
  height: 105px;
  background-color: grey;
  position: relative;
  z-index: 100;
}

.horizontal{
    background-color: grey;
  }
  .horizontal ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 60px;
  }
  .horizontal ul li {
    display: inline;
  }
  .horizontal ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px;
  }
  
  .horizontal ul li a:hover {
   background-color: grey;
   color: blue;
   text-decoration: underline;
  }
  .dropdown-menu {
    position: relative;
  } 
  .dropdown-menu .caret {
    font-size: 60%;
  }
  .dropdown-menu:hover .dropdown-content {
    display: block;
  }
  .dropdown-content {
    display: none;
    background-color: grey;
    position: absolute;
    width: 120px;
    right: 0;
    margin-top: 0;
    color: blue;
  }
  .dropdown-content > a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
  }
  
  .dropdown-content > a:hover {
    background-color: violet;
  }
